---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.svelte';
import BlogImage from '../components/BlogImage.svelte'
---

<Layout title="Blog Astro">
	<main>
		<div class="p-5">
			<Intro/>
		</div>
		<div class="h-5 bg-black"></div>
		<div class="p-5">
			<BlogImage client:visible/>
		</div>
	</main>
</Layout>
